<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="navbar-container">
        <a href="/" class="navbar-title">Ana Sayfa</a>
        <form class="navbar-search" action="/search" method="get">
            <input type="navbar-text" name="q" placeholder="Aradığınız ürünü veya kategoriyi yazın..." required>
            <button type="submit">Ara</button>
        </form>
    </div>
</body>

</html>